$desc: 1120
$tab: 800
$mob: 600


@font-face
    font-family: 'Graphik'
    src: url('Graphik-Regular.woff2') format('woff2') url('Graphik-Regular.woff') format('woff') url('Graphik-Regular.ttf') format('truetype')
    font-weight: 400
    font-style: normal

=r($width)
    @media screen and (max-width: $width + 'px')
        @content
=graphik
    font-family: 'Graphik', sans-serif

*
    margin: 0
    padding: 0
    box-sizing: border-box
    &::selection
        background: #ED145B
        color: white
html
    scroll-behavior: smooth


body
    min-width: 375px
   
    font-family: 'Montserrat', sans-serif
a
    text-decoration: none
    color: inherit
    transition: .25s
img
    display: block
    max-width: 100%
p
    margin: 0
    padding: 0
mark
    background: transparent
button
    background: transparent
    border: none
    outline: none
    cursor: pointer
    transition: .25s
.inner
    width: 1120px
    margin: 0 auto
    padding: 0 20px
    +r($desc)
        width: 100%
.is-hidden
    display: none

.intro
    background: url(../img/promo-bg.png) #060616 center center no-repeat
    // min-height: 842px
    padding-bottom: 110px
    position: relative
    z-index: 1
    +r($desc)
        padding-bottom: 130px
    +r($mob)
        padding-bottom: 90px
    &__man-img
        width: 568px
        height: 824px
        position: absolute
        left: 50%
        bottom: 0
        transform: translateX(-50%)
        z-index: -1
        +r($desc)
            display: none
    &__top
        padding: 60px 0 100px
        +r($desc)
            display: flex
            justify-content: center
            padding: 50px 80px
        +r($mob)
            padding: 40px 60px
    &__box
        display: flex
        justify-content: space-between
        +r($desc)
            display: block
    &__left
        max-width: 398px
        +r($desc)
            max-width: 100%
            text-align: center
            margin-bottom: 40px
    &__right
        max-width: 324px
        +r($desc)
            margin: 0 auto
    &__title
        font-weight: bold
        font-size: 60px
        line-height: 72px
        color: white
        margin-bottom: 20px
        +r($desc)
            font-size: 55px
            line-height: 65px
        +r($tab)
            font-size: 50px
            line-height: 60px
        +r($mob)
            font-size: 45px
            line-height: 50px
            margin-bottom: 40px
    &__subtitle
        color: white
        +graphik
        font-size: 18px
        line-height: 26px
        max-width: 302px
        +r($desc)
            max-width: 100%
    &__form-title
        font-size: 36px
        color: white
    &__postform
        color: #A4A0A0
        font-size: 14px
        +graphik
        +r($desc)
            color: white
        a
            color: #00FFDD

.steps
    display: grid
    grid-template-columns: repeat(3, 1fr)
    counter-reset: stepsItem
    margin-bottom: 160px
    +r($desc)
        // padding-top: 50px
        display: block
    +r($tab)
        margin-bottom: 140px
    +r($mob)
        margin-bottom: 100px
    &__item
        color: #BDBDBD
        padding: 42px 0 37px 14%
        border: 1px solid #1B1A22
        border-bottom-width: 4px
        counter-increment: stepsItem
        position: relative
        +r($desc)
            padding: 42px 0 37px 50px
            max-width: 800px
            margin: 0 auto 20px auto
            border-bottom-width: 1px
        +r($tab)
            padding: 35px 15px 25px 40px
        &:nth-of-type(even)
            border-right: none
            +r($desc)
                border-right: 1px solid #1B1A22
        &:before
            display: inline-block
            content: counter(stepsItem)
            font-size: 62px
            font-weight: bold
            margin-right: 20px
            float: left
            line-height: .8
        &.is-active
            color: #1B1A22
            background: white
            border-right: none
            &:after
                display: block
                content: ''
                height: 8px
                width: 100%
                background: #00FFDD
                position: absolute
                left: 0
                right: 0
                bottom: -4px
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.85)


    &__item-title
        text-transform: uppercase
        font-weight: bold
        font-size: 18px
        margin-bottom: 5px
        
.services
    background: #060616
    padding-bottom: 150px
    +r($tab)
        padding-bottom: 120px
    +r($mob)
        padding-bottom: 100px
    &__title
        margin: 150px auto 100px
        text-align: center
        max-width: 987px
        +r($tab)
            margin: 130px auto 80px
        +r($mob)
            margin: 100px auto 70px

    &__btn-wrap
        text-align: center
.features
    margin-bottom: 100px
    &__row
        display: grid
        grid-template-columns: 1fr 186px
        border-bottom: 1px solid #434343
        +r($tab)
            grid-template-columns: 1fr 120px
        +r($mob)
            grid-template-columns: 1fr 80px

        &:last-of-type
            border-bottom: none
    &__left, &__right
        padding: 24px
        color: white
        +graphik
        +r($tab)
            padding: 18px
        +r($mob)
            padding: 13px

    &__left
        border-right: 1px solid #434343
        p
            font-size: 18px
            +r($mob)
                font-size: 16px
    &__right
        display: grid
        place-items: center
        span
            font-size: 22px
            +r($mob)
                font-size: 18px

.candles
    padding: 110px 0 250px 0
    background: url(../img/candles.png) white center center no-repeat
    +r($desc)
        padding: 100px 0 230px 0
    +r($tab)
        padding: 90px 0 210px 0
    +r($mob)
        padding: 70px 0 130px 0 
    &__title
        max-width: 832px
        text-align: center
        margin: 0 auto
    &__box
        margin: 160px 0 190px 0
        display: flex
        flex-wrap: wrap
        +r($desc)
            margin: 140px 0 160px 0
        +r($tab)
            margin: 120px 0 140px 0
        +r($mob)
            margin: 80px 0 100px 0
    &__box-item
        text-align: center
        width: 33.333%
        +r($tab)
            width: 100%
            margin-bottom: 20px

        p
            margin: 30px auto 0 auto
            color: #1B1A22
            font-size: 18px
    &__box-img
        min-height: 96px
        display: flex
        justify-content: center
        align-items: flex-end
    &__promo
        display: flex
        +r($desc)
            display: block
    &__promo-right
        max-width: 521px
        +r($desc)
            max-width: 100%
            text-align: center
    &__promo-left
        display: flex
        justify-content: center
        +r($desc)
            margin-bottom: 40px
        +r($mob)
            margin-bottom: 20px
    &__img
        position: relative
        left: -80px
        max-width: 500px
        +r($desc)
            // margin: 0 auto 40px auto
        +r($tab)
            left: -60px
            max-width: 400px
        +r($mob)
            left: -40px
            max-width: 300px
            // margin-bottom: 20px
    &__promo-title
        max-width: 470px
        +r($desc)
            max-width: 100%
    &__promo-subtitle
        margin: 60px 0
        font-size: 22px
        color: #1B1A22
        +graphik
    &__btn
        display: inline-block


.footer
    text-align: center
    padding: 45px 0 45px 0
    background: #060616
    +r($mob)
        padding: 30px 0
    &__logo
        width: 200px !important
        height: 33px !important
    small
        font-size: 20px
        color: white
        display: block
        margin-top: 30px
        +r($mob)
            margin-top: 20px
            font-size: 18px

.title
    font-size: 48px
    font-weight: bold
    color: white
    line-height: 59px
    +r($desc)
        font-size: 45px
        line-height: 55px
    +r($tab)
        font-size: 40px
        line-height: 50px
    +r($mob)
        font-size: 36px
        line-height: 45px
    &_dark
        color: #1B1A22
.btn
    background: #ED145B
    border-radius: 30px
    color: white
    padding: 17px 90px
    font-weight: bold
    font-size: 24px
    +r($mob)
        padding: 14px 70px
        font-size: 20px
    &:hover
        background: #00FFDD



$svg-icons: ['logo' 240px 40px, 'check' 28px 28px, 'search' 82px 86px, 'diagram' 84px 96px, 'comp' 96px 68px ]


@each $name, $width, $height in $svg-icons
    .icon-#{$name}
        width: $width
        height: $height
