extends not-compiling/_layout

block title
	title Index page
block head
	meta(name="keywords" content="")
	meta(name="description" content="")

block content
	section.intro
		picture.intro__man-img
			img(src="img/man.png")
		.inner
			header.intro__top
				svg.icon-logo: use(xlink:href="#logo")
			.intro__box
				.intro__left
					h1.intro__title Operaciones de élite con Monfex
					p.intro__subtitle Como operador profesional de alta frecuencia, puede beneficiarse de un ecosistema bursátil excepcional. Con estos tres pasos sencillos, ejecute su estrategia bursátil en la robusta Monfex.
				.intro__right#form
					h3.intro__form-title Crea una cuenta
					.form-wrapper
						.form-block-2.whitee._mnfx-form-container(data-action='https://lp.monfex.com/api/action/AoekF8gYLvQT/register')
						p.intro__postform Masz już konto <a href="https://trade.monfex.com/sign-in"> Monfex </a>? Proszę się zalogować.
	section.services
		.inner
			.steps
				.steps__item.is-active
					p.steps__item-title Registrarsea
					p.steps__item-text Experiencia impecable
				.steps__item
					p.steps__item-title Cuenta del fondo
					p.steps__item-text Solicite su bono
				.steps__item
					p.steps__item-title Empezar a operar
					p.steps__item-text Haga su propia historia
			h2.services__title.title Servicios completamente enriquecidos y acceso al mercado
			.features
				mixin featuresRow(text, rightSectionContent)
					.features__row
						.features__left
							p=text
						.features__right
							if rightSectionContent
								span=rightSectionContent
							else
								svg.icon-check: use(xlink:href="#check")
				+featuresRow('Consiga hasta un 50% de bono')
				+featuresRow('Apalancamiento de hasta', '400')
				+featuresRow('Protección contra el saldo negativo')
				+featuresRow('Participe en concursos premium')
				+featuresRow('Obtenga señales bursátiles de Trading Central por SMS, cómodamente disponibles en cualquier lugar y en cualquier momento')
				+featuresRow('Gestor de cuenta especializado las 24/5 para ayudarle con cualquier consulta que necesite')
				+featuresRow('Acceso a seminarios web avanzados y al aprendizaje de nuevas estrategias')
				+featuresRow('Reciba análisis fundamentales y técnicos diarios para ayudarle a ejecutar sus estrategias bursátiles')
			.services__btn-wrap
				a(href="#form").btn Registrarse

	section.candles
		.inner
			h2.candles__title.title.title_dark Operaciones bursátiles versátiles para profesionales
			.candles__box
				.candles__box-item
					.candles__box-img
						svg.icon-search: use(xlink:href="#search")
					p Conveniente plataforma <br> de negociación de vista móvils
				.candles__box-item
					.candles__box-img
						svg.icon-diagram: use(xlink:href="#diagram")
					p Acceso gratuito al sitio réplica <br> de Trading Central
				.candles__box-item
					.candles__box-img
						svg.icon-comp: use(xlink:href="#comp")
					p Acceso gratuito a las señales <br> bursátiles de Trading Central








	footer.footer
	
		


	//svg sprite include
	.svg-sprite.is-hidden
		include ../img/svg-output/svg-sprite.svg


